openapi: 3.2.0
info:
  title: Debbie Collect Cases API
  version: '1.0'
  contact:
    name: Debbie API Support
    email: api-support@debbie.dk
  description: 'Operations tagged Cases across 2 of this provider''s published API definitions: debbie-client-api-openapi.yml, debbie-platform-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://creditor.debbie.dk/api
  description: Production
- url: https://api.debbie.dk
  description: Production
security:
- bearerAuth: []
tags:
- name: Cases
paths:
  /cases:
    post:
      summary: Create a case
      operationId: createCase
      tags:
      - Cases
      responses:
        '201':
          description: Case created.
    get:
      summary: List cases
      operationId: listCases
      tags:
      - Cases
      responses:
        '200':
          description: A paginated list of cases.
    servers:
    - url: https://creditor.debbie.dk/api
      description: Production
  /cases/{caseId}:
    get:
      summary: Get a case
      operationId: getCase
      tags:
      - Cases
      parameters:
      - in: path
        name: caseId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A case resource.
    patch:
      summary: Update a case
      operationId: patchCase
      tags:
      - Cases
      parameters:
      - in: path
        name: caseId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updated case.
    servers:
    - url: https://creditor.debbie.dk/api
      description: Production
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
x-refined-from:
- debbie-client-api-openapi.yml
- debbie-platform-api-openapi.yml
